@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #85bcff;
    --botao-efeito-ativo: rgb(199, 55, 55);
    --botao-efeito-ativo-texto: rgb(88, 14, 14);
}
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__caixa{
    margin: 0 6em;
}
.container__titulo{
    font-size: 1.8rem;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__botao{
    display: block;
    background-color: var(--botao-azul);
    border-radius: 0.4rem;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;
}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--botao-azul);
    border: 0.125rem solid var(--botao-azul);
}
.container__botao:active{
    background-color:var(--botao-efeito-ativo);
    color: var(--botao-efeito-ativo-texto);
    border: 0.125rem solid var(--botao-efeito-ativo-texto);
}
.botao_secundario{
    background-color: transparent;
    border: 0.125rem solid var(--branco-principal);
}
.botao_secundario:hover{
    background-color: var(--branco-principal);
    border: 0.125rem dashed black;
    color:black;
}
.botao_secundario:active{
    background-color:var(--botao-efeito-ativo);
    color: var(--botao-efeito-ativo-texto);
    border: 0.125rem solid var(--botao-efeito-ativo-texto);
}
.container__aviso{
   color:var(--cinza-secundario)
}
.secundario__imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.3em;
}
.terciario{
    align-items: center;
    margin: 0 10em 0 15em;
}
.terciario__botao{
    display: inline-block;
    margin-top: 1.1em;
}
.terciario__botao:hover{
    background-color: rgb(27, 47, 78);
    color: var(--botao-azul);   
    border: 0.125rem dashed var(--botao-azul);
}
.terciario__botao:active{
    background-color:var(--botao-efeito-ativo);
    color: var(--botao-efeito-ativo-texto);
    border: 0.125rem solid var(--botao-efeito-ativo-texto);
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.container__descricao{
    padding: 2em;
}
.quartenario{
    align-items: center;
    margin: 0 10em 0 15em;
}
.quartenario__imagem{
    width: 90%;
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.container__descricao{
    padding: 2em;
}
.quartenario__imagem{
    width: 90%;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 48px;
    color:var(--branco-principal);
    margin-bottom: 2rem;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.lista__item{
    font-size: 2rem;
    color:var(--branco-principal);
    margin: 1rem 0;
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}
.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1.5em;
}
.lista__link a:hover{
    color:var(--botao-azul);
}
.lista__link a:active{
    color: purple;
}
.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
